<h1>Log in</h1>

<%= link_to image_tag("/images/btn_google_signin_dark_normal_web@2x.png", class:"google-signin"), "/auth/google_oauth2" %>

<p>-or-</p>

<%= form_with url: "/login", class: "form-signin", local: true do |f| %>

  <%= f.label :name, class:'sr-only' %>
  <%= f.text_field :name, class:'form-control', placeholder:'Name', required:true  %>
  <%= f.label :password, class:'sr-only' %>
  <%= f.password_field :password, class:'form-control', placeholder:'Password', required:true %>
  <%= f.submit "Log In", class:'btn btn-lg btn-primary btn-block' %>
<% end %>