<% if is_admin? %>
  <h1>All Recipes</h1>
<% else %>
  <h1><%= @user.name %> Recipes</h1>

    <%= form_tag(user_recipes_path(@user), method: :get) do %>
		  <%= text_field_tag :search, params[:search], placeholder: "Find Recipes", class: "form-control"  %>  
		  <%= submit_tag 'Search', name: nil %>
		<% end %>

    <%= render partial: 'add_button', locals: {path: new_user_recipe_path(@user), text: "Add new recipe"} %>
<% end %>

<% if @ingredient %>
  <h2>Recipes with <%= @ingredient.name %></h2>
<% end  %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
       <% if @recipe_costs %><th>Cost</th><% end %>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% if @recipe_costs %>
      <% @recipe_costs.each do |recipe| %>    
        <tr>
          <th scope="row"><%= link_to recipe[:name], user_recipe_path(@user, recipe[:id]) %></th>
          <td>$<%= recipe[:total_cost] %>
           <% if recipe[:cost_per_serving] %>
            &nbsp;|&nbsp; per serving: $<%= recipe[:cost_per_serving] %>
            <% end %>
          </td>
          <td><small><%= link_to 'Edit', edit_user_recipe_path(@user, recipe[:id]), class:'text-muted' %> | <%= link_to "Delete", user_recipe_path(recipe[:user_id], recipe[:id]), method: :delete, class:'text-muted', data: { confirm: "Are you sure?" } %></small></td>
        </tr>  
      <% end %>
    <% else %>
      <% @recipes.each do |recipe| %>        
        <tr>
          <th scope="row"><%= link_to recipe.name, user_recipe_path(@user, recipe) %></th>
          <td><small><%= link_to 'Edit', edit_user_recipe_path(@user, recipe), class:'text-muted' %> | <%= link_to "Delete", user_recipe_path(recipe.user, recipe), method: :delete, class:'text-muted', data: { confirm: "Are you sure?" } %></small></td>
        </tr>  
      <% end %>
    <% end %>
  </tbody>  
</table>

<%= render "ingredients/import", path: user_recipes_import_path %>