<h1><%= @recipe.name %> (<small class="helper_links"><%= link_to 'Edit ', edit_user_recipe_path(@user) %> | <%= link_to "Delete", user_recipe_path(@user, @recipe), method: :delete, data: { confirm: "Are you sure?" } %></small>)</h1>

<h2>Total Cost: $<%= @recipe_total_cost %></h2>

<% if @recipe.servings %>
  <h3>
    Serves <%= @recipe.servings %> | Cost per serving: $<%= @recipe_cost_per_serving %>
  </h3>
<% end %>

<h3>Ingredients</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Cost</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Amount Unit</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_ingredients.each do |recipe_ingredient| %>
      <tr>
        <td>$ <%= recipe_ingredient.total_cost %></td>
        <th scope="row"><%= recipe_ingredient.name %></th>
        <td><%= recipe_ingredient.amount %></td>
        <td><%= recipe_ingredient.amount_unit %></td>
      </tr>  
    <% end %>
  </tbody>  
</table>