<%= form_with model: user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :organization %>
    <%= f.text_field :organization, class:'form-control' %>
  </div>  

  <% if @user.new_record? %>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:'form-control'  %>
      <small id="emailHelp" class="form-text text-muted">Must contain more than 6 characters.</small>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm Password' %>
      <%= f.password_field :password_confirmation, class:'form-control'  %>
    </div>
  <% end %>

  <% if is_admin? %>
    <div class="form-group">
      <%= f.label(:admin, "Admin user?") %>
      <%= f.check_box :admin %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class:'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
