<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to '+ Add Recipe', new_user_recipe_path(@user), class:'nav-link' %>
          </li>

          <% if is_admin? %>
            <li class="nav-item">
              <%= link_to '= All System Ingredients', ingredients_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '+ Add System Ingredient', new_ingredient_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '= All Users', users_path, class:'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '$ Add Ingredient Cost', new_user_ingredient_path(@user), class:'nav-link' %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to '~ Edit Account', edit_user_path(@user), class:'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1><%= @user.name %> Dashboard <% if is_admin? %>(Admin)<% end%></h1>

      <h3>Ingredients you're using</h3>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Links</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Cost Size</th>
            <th>Cost Unit</th>
          </tr>
        </thead>
        <tbody>
          <% @ingredients.each do |ingredient| %>
          <tr>
            <th><small><%= link_to "Recipes with #{ingredient.name}", user_recipes_by_ingredient_path(@user, ingredient), class:'text-muted' %></small></th>
            <th scope="row"><%= ingredient.name %></td>
            <td>$ <%= ingredient.cost %></td>
            <td><%= ingredient.cost_size %></td>
            <td><%= ingredient.cost_unit %></td>
          </tr>  
          <% end %>
        </tbody>  
      </table>

    </main>
  </div>