<h1>Ingredients</h1>

<%= render partial: 'add_button', locals: {path: new_ingredient_path, text: "Add new system ingredient"} %>

<h2>Current System Ingredients</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Links</th>
      <th>Name</th>
      <th>Cost</th>
      <th>Cost Size</th>
      <th>Cost Unit</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
    <tr>
      <th><small><%= link_to 'Edit', edit_ingredient_path(ingredient), class:'text-muted' %> | <%= link_to "Delete", ingredient, method: :delete, class:'text-muted', data: { confirm: "Are you sure?" } %></small></th>
      <th scope="row"><%= ingredient.name %></td>
      <td>$ <%= ingredient.cost %></td>
      <td><%= ingredient.cost_size %></td>
      <td><%= ingredient.cost_unit %></td>
      <td><%= ingredient.id %></th>
    </tr>  
    <% end %>
  </tbody>  
</table>

<%= render "import", path: ingredients_import_path %>