<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="<%= root_url %>" aria-label="Home" title="Home"><img src="<%= root_url %>open-iconic/svg/spreadsheet.svg" alt="Home"> Recipe Costs</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(current_user) %>">Dashboard</a>
        </li>          
        <li class="nav-item">
          <%= link_to 'Recipes', user_recipes_path(@user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_ingredients_path(current_user) %>">Ingredient Costs</a>
        </li>       
        <li class="nav-item">
          <%= link_to "Log Out", logout_path, class: "nav-link" %>
        </li>

        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="<%= new_user_path %>"/>Sign Up</a>
          <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>"/>Log In</a>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'search' %>
  </div>
</nav>













